<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuperMakina</title>
    <link rel="stylesheet" type="text/css" href="../node_modules/bootswatch/dist/cerulean/bootstrap.min.css">
</head>

<body>
    <h1>SuperMakina</h1>
<div id="container">
    <div class="card-group mx-3">
        <div class="card">
            <img src="../assets/puzzle-bobble.jpg" class="card-img-top w-50" alt="puzzle-bobble">
            <div class="card-body">
                <h5 class="card-title">Puzzle Bobble</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, hic!</p>
                <a class="btn btn-success" href="../Games/PuzzleBobble/index.html">Jugar</a>
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalDescripcion">Descripcion</button>
                <button type="button" class="btn btn-info" id="puntuacionesPuzzleBobble">Puntuaciones</button>
            </div>
        </div>
        <div class="card">
            <img src="../assets/arkanoid.jpg" class="card-img-top w-50" alt="arkanoid">
            <div class="card-body">
                <h5 class="card-title">Arkanoid</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, unde.</p>
                <a class="btn btn-success" href="../Games/Arkanoid/index.html">Jugar</a>
                <button type="button" class="btn btn-secondary" id="descripcionArkanoid">Descripcion</button>
                <button type="button" class="btn btn-info" id="puntuacionesArkanoid">Puntuaciones</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalDescripcion" tabindex="-1" role="dialog" aria-labelledby="modalDescripcion" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="tituloJuego"><!-- Nombre del juego --></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="descripcionJuego">
          <!-- Descripcion -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <a type="button" class="btn btn-primary" href="#">Jugar</a>
        </div>
      </div>
    </div>
  </div>
<script>

</script>
</body>

</html>