<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puntuaciones</title>
    <link rel="stylesheet" type="text/css" href="../node_modules/bootswatch/dist/superhero/bootstrap.min.css">
    <!-- Insert this line above script imports  -->
    <script>
        if (typeof module === 'object') {
            window.module = module; module = undefined
        }
    </script>
    <!-- normal script imports etc  -->
    <script src="../node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Insert this line after script imports -->
    <script>
        if (window.module) module = window.module;
    </script>
    <style>
        .tableFixHead th {
            position: sticky;
            top: 0;
        }
        
    </style>
</head>

<body>
    <h3 class="text-center" id="tituloJuego">
    </h3>
    <table class="table table-striped table-hover table-bordered" id="tabla">
    </table>
    <script src="js/ventanaPuntuaciones.js"></script>
</body>

</html>